# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Visual Stdio files
*.sln
*.tlog
*.ilk
*.pdb
*.opensdf
*.sdf
*.suo
*.manifest
*.res
*.log
*.rc
*.lastbuildstate
*.idb
*.user
*.vcxproj
*.ipch
*.filters
*.obj
